@font-face {
    font-family: 'Rainball';
    src: url('fonts/Rainball.ttf') format('truetype');
}

:root {
  --bg: #fef0db;
  --black: #0a0903;
  --green:#157f1f ;
}

/* -----0o00-0oo0*.o0--BODY-STYLES--Oo.o*0o*----- */
body {
  background-color: var(--bg);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

a {
  text-decoration: none;
}

* {
  margin: 0px;
}

/* -----0o00-0oo0*.o0--HERO-STYLES--Oo.o*0o*----- */
#imageOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#imageOne-img {
  width: 100%;
  height: auto;
  background-color: #d9d9d9;
  border-radius: 30px;
}

#imageTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#imageTwo-img {
  width: 100%;
  height: auto;
  background-color: #d9d9d9;
  border-radius: 30px;
}

.hero-img {
  width: 90%;
  max-width: 550px;
  height: auto;
  background-color: #d9d9d9;
  border-radius: 30px;
}

.hero-text {
  width: 90%;
  max-width: 550px;
  margin-top: 8px;
  font-family: "Noto Sans";
  font-size: 12px;
}

/* -----0o00-0oo0*.o0--ABOUT-US-STYLES--Oo.o*0o*----- */
#about-us {
  width: 90%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  font-family: "Noto Sans";
}

#about-us-h1{
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}

#about-us-p {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}


/* -----0o00-0oo0*.o0--TEAM-STYLES--Oo.o*0o*----- */
#team {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Noto Sans";
}

#team-h1{
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-family: "Noto Sans";
}

#team-members {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.team-member {
  display: flex;
  flex-direction: column;
  margin-left: 17.5px;
  margin-right: 17.5px;
  margin-top: 35px;
  max-width: 275px;
}

.headshot {
  height: auto; /* fix later!! */
  width: auto;
  max-height: 275px;
  max-width: 275px;
  background-color: #d9d9d9;
  border-radius: 100%;
}

.team-member-img {
  width: 275px;
  height: 275px;
  border-radius: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}

.role {
  color: #a9a9a9;
}

.email-address {
  color: var(--green);
  text-decoration: underline;
}

.bg-description {
  display: none;
}


/* -----0o00-0oo0*.o0--MEDIA-QUERIES--Oo.o*0o*----- */

@media only screen and (min-width: 950px) {
  
}

/* font size updates + spacing! */
@media only screen and (min-width: 1024px) {
}