@font-face {
    font-family: 'Rainball';
    src: url('fonts/Rainball.ttf') format('truetype');
}

:root {
  --bg: #fef0db;
  --black: #0a0903;
  --green:#157f1f ;
}

/* -----0o00-0oo0*.o0--BODY-STYLES--Oo.o*0o*----- */
body {
  background-color: var(--bg);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

a {
  text-decoration: none;
}

* {
  margin: 0px;
}

/* -----0o00-0oo0*.o0--HEADER-STYLES--Oo.o*0o*----- */

header {
  width: 100%;
  height: 75px;
  position: fixed;
  position: fixed;
  top: 0;
  transition: .1s;
}

#menu-items {
  display: none; 
  /* hidden by default */
}

#menu-items.hidden {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#menu-items.hidden a{
  margin-top: 15px;
  font-size: 16px;
  font-family: "Rainball";
  color: var(--black)
}

#menu-items.hidden a:hover{
  color: var(--green);
  transition: .2s;
}

#header.hidden {
  height: 225px;
  background-color: white;
  border-bottom: 1px solid var(--green);
  transition: .1s;
}

#nav.hidden {
  border: none;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--green);
}

#logo {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  margin-left: 15px;
  border-radius: 50%;
}

#header-text{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 8px;
}
#nav-header-top {
  color: var(--black);
  width: 120px;
  font-size: 16px;
  margin: 0px;
  font-family: "Rainball";
}
#nav-header-bottom {
  color: var(--green);
  width: 120px;
  font-size: 16px;
  margin: 0px;
  font-family: "Rainball";
}

#toggle-menu {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: transparent;
  margin-right: 25px;
}

/* -----0o00-0oo0*.o0--HERO-STYLES--Oo.o*0o*----- */
#imageOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#imageOne-img {
  width: 100%;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 30px;
}

#imageTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#imageTwo-img {
  width: 100%;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 30px;
}

.hero-img {
  width: 90%;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 30px;
}

.hero-text {
  width: 90%;
  margin-top: 8px;
  font-family: "Noto Sans";
  font-size: 12px;
}

/* -----0o00-0oo0*.o0--ABOUT-US-STYLES--Oo.o*0o*----- */
#about-us {
  margin-top: 35px;
  font-family: "Noto Sans";
}

#about-us-h1{
  font-size: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#about-us-p {
  font-size: 12px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* -----0o00-0oo0*.o0--TEAM-STYLES--Oo.o*0o*----- */
#team {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Noto Sans";
}

#team-h1{
  font-size: 40px;
  font-family: "Noto Sans";
  margin-right: auto;
  margin-bottom: 35px;
}

.team-member {
  height: 250px;
  width: 40%;
  max-width: 160px;
  background-color: #d9d9d9;
  border-radius: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  margin-bottom: 15px;
}

.headshot {
  height: 150px;
}

.team-member-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.overview {
  height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}





 /* -----0o00-0oo0*.o0--FOOTER-STYLES--Oo.o*0o*----- */
footer {
  font-family: "Noto Sans";
  height: 250px;
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#footer-h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
}

.footer-p {
  font-size: 12px;
  margin: 0px;
}

#email {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#copyright {
  margin-top: 8px;
}

.socials {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.social-button {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 15px;
}
  