@font-face {
    font-family: 'Rainball';
    src: url('fonts/Rainball.ttf') format('truetype');
}

:root {
  --bg: #fef0db;
  --black: #0a0903;
  --green:#157f1f ;
}

/* -----0o00-0oo0*.o0--BODY-STYLES--Oo.o*0o*----- */
body {
    background-color: var(--bg);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

a {
text-decoration: none;
}

* {
margin: 0px;
}

/* -----0o00-0oo0*.o0--SECTION-HEADER-STYLES--Oo.o*0o*----- */

#recent-posts {
    font-family: "Noto Sans";
}

#section-header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 135px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#section-header-h1 {
    font-size: 32px;
}

#green-text {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

#section-header-p {
    font-size: 16px;
    color: var(--green)
}

#section-header span {
    color: var(--green);
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}

/* -----0o00-0oo0*.o0--ALL-POSTS-CONTAINERS-STYLES--Oo.o*0o*----- */

#all-post-containers {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* -----0o00-0oo0*.o0--MOST-RECENT-STYLES--Oo.o*0o*----- */

#mostRecent-post-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#most-recent-post {
    width: 100%;
    max-width: 340px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

#most-recent-img {
    height: 200px;
    width: 100%;
    background-color: #d9d9d9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#main-image {
    height: 100%;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#most-recent-text {
    height: 100px;
    width: 100%;
    background-color: white;
    font-size: 16px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#most-recent-P {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans";
}




/* -----0o00-0oo0*.o0--POST-STYLES--Oo.o*0o*----- */

#recent-post-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.recent-post {
    width: 45%;
    max-width: 162.5px;
    height: 143px;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.recent-img {
    height: 66.66%;
    width: 100%;
    background-color: #d9d9d9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.post-image {
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.post-text {
    height: 33.33%;
    width: 100%;
    background-color: white;
    font-size: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-p {
    text-align: center;

}