@font-face {
    font-family: 'Rainball';
    src: url('fonts/Rainball.ttf') format('truetype');
}

:root {
  --bg: #fef0db;
  --black: #0a0903;
  --green:#157f1f ;
}

/* -----0o00-0oo0*.o0--BODY-STYLES--Oo.o*0o*----- */
body {
    background-color: var(--bg);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

a {
text-decoration: none;
}

* {
margin: 0px;
}

/* -----0o00-0oo0*.o0--SECTION-HEADER-STYLES--Oo.o*0o*----- */

#all-posts {
    font-family: "Noto Sans";

}

#section-header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 135px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#section-header-h1 {
    font-size: 32px;
}

/* -----0o00-0oo0*.o0--POST-STYLES--Oo.o*0o*----- */

#all-posts-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.post { 
    width: 45%;
    max-width: 162.5px;
    height: 143px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
}

.post-img {
    height: 66.66%;
    width: 100%;
    background-color: #d9d9d9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.post-image {
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.post-text {
    height: 33.33%;
    width: 100%;
    background-color: white;
    font-size: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-p {
    text-align: center;

}