@font-face {
    font-family: 'Rainball';
    src: url('fonts/Rainball.ttf') format('truetype');
}

:root {
  --bg: #fef0db;
  --black: #0a0903;
  --green:#157f1f ;
}

/* -----0o00-0oo0*.o0--BODY-STYLES--Oo.o*0o*----- */
body {
  background-color: var(--bg);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

}

a {
  text-decoration: none;
}

/* -----0o00-0oo0*.o0--HEADER-STYLES--Oo.o*0o*----- */

header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  transition: .1s;
}

#menu-items {
  display: none; 
  /* hidden by default */
}

#menu-items.hidden {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#menu-items.hidden a{
  margin-top: 15px;
  font-size: 16px;
  font-family: "Rainball";
  color: var(--black)
}

#menu-items.hidden a:hover{
  color: var(--green);
  transition: .2s;
}

#header.hidden {
  height: 225px;
  background-color: white;
  border-bottom: 1px solid var(--green);
  transition: .1s;
}

#nav.hidden {
  border: none;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--green);
}

#logo {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  margin-left: 15px;
  border-radius: 50%;
}

#header-text{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 8px;
}
#nav-header-top {
  color: var(--black);
  width: 120px;
  font-size: 16px;
  margin: 0px;
  font-family: "Rainball";
}
#nav-header-bottom {
  color: var(--green);
  width: 120px;
  font-size: 16px;
  margin: 0px;
  font-family: "Rainball";
}

#toggle-menu {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: transparent;
  margin-right: 25px;
}

/* -----0o00-0oo0*.o0--HOMEPAGE-STYLES--Oo.o*0o*----- */
#homepage-hero-img {
  width: 100%;
  height: 300px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #d9d9d9;
  margin-top: 75px;
}

#info-container {
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans";
  transition: .1s;
}

#info-container.menu-opened {
  margin-top: 50px; /* Adjust as needed */
  transition: .1s;
}

#info-h1 {
  font-size: 40px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: "Noto Sans";
}

#info-p {
  margin-top: 8px;
  font-size: 16px;
  width: 80%;
}

.learn-more {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border-style: none;
  background-color: var(--green);
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-top: 75px;
  margin-right: auto;
  margin-left: 10%;
  margin-bottom: 30px;
}

/* -----0o00-0oo0*.o0--SPOTLIGHT-STYLES--Oo.o*0o*----- */

#spotlight {
  margin-top: 50px;
}

#spotlight-h1 {
    font-size: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans";
    font-weight: 700;
}

#main-spotlight {
  width: 90%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

#main-spotlight-img {
  height: 200px;
  background-color: #d9d9d9;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#spotlight-img {
  height: 200px;
  width: 100%;
}

#spotlight-text {
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-spotlight-p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Sans";
}

.spotlight {
  width: 90%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.spotlight-img {
  width: 25%;
  height: 100%;
  background-color: #d9d9d9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.spotlight-img-image {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.spotlight-text-small{
  width: 90%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight-p {
  width: 90%;
  font-size: 12px;
  font-family: "Noto Sans";
}

/* -----0o00-0oo0*.o0--EVENTS-STYLES--Oo.o*0o*----- */
  
#event-h1 {
  font-size: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  font-family: "Noto Sans";
  font-weight: 700;
}

.event {
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.event-img {
  width: 45%;
  background-color: #d9d9d9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.event-img-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.event-text{ 
  width: 55%;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-p {
  font-family: "Noto Sans";
  font-size: 12px;
  width: 90%;
}

/* -----0o00-0oo0*.o0--CONTACT-STYLES--Oo.o*0o*----- */
#contact {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  #contact-text {
    width: 80%;
    text-align: center;

    #contact-h1 {
      font-family: "Rainball";
      font-size: 84px;
      color: var(--green);
    }
  }
}

/* -----0o00-0oo0*.o0--FOOTER-STYLES--Oo.o*0o*----- */
footer {
  font-family: "Noto Sans";
  height: 250px;
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
}

#footer-h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
}

.footer-p {
  font-size: 12px;
  margin: 0px;
}

#email {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#copyright {
  margin-top: 8px;
}

.socials {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.social-button {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 15px;
}
  