

:root {
  --bg: #fef0db;
  --black: #0a0903;
  --green:#157f1f ;
}

/* -----0o00-0oo0*.o0--BODY-STYLES--Oo.o*0o*----- */
body {
  background-color: var(--bg);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

}

a {
  text-decoration: none;
}

/* -----0o00-0oo0*.o0--HOMEPAGE-STYLES--Oo.o*0o*----- */
#homepage-hero-img {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 75px;
}

#hero-image {
  height: auto;
  min-height: 300px;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#info-container {
  width: 90%;
  max-width: 550px;
  height: 400px;
  background-color: white;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans";
  transition: .1s;
}

#info-container.menu-opened {
  margin-top: 50px;
  transition: .1s;
}

#info-h1 {
  font-size: 40px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: "Noto Sans";
}

#info-p {
  margin-top: 8px;
  font-size: 16px;
  width: 80%;
}

.learn-more {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border-style: none;
  background-color: var(--green);
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-top: 75px;
  margin-right: auto;
  margin-left: 10%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -----0o00-0oo0*.o0--SPOTLIGHT-STYLES--Oo.o*0o*----- */

#spotlight {
  margin-top: 50px;
}

#spotlight-h1 {
  font-size: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Sans";
  font-weight: 700;
}

#main-spotlight {
  width: 90%;
  max-width: 550px;
  height: auto;
  max-height: 345px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

#main-spotlight-img {
  height: auto;
  max-height: 230px;
  background-color: #d9d9d9;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-spotlight-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
}

#spotlight-text {
  height: auto;
  min-height: 100px;
  max-height: 115px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-spotlight-p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Sans";
}

.spotlight {
  width: 90%;
  max-width: 550px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.spotlight-img {
  width: 25%;
  height: auto;
  max-height: 75px;
  background-color: #d9d9d9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight-img-image {
  width: 100%;
  height: auto;
  background-color: #d9d9d9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.spotlight-text-small{
  width: 90%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight-p {
  width: 90%;
  font-size: 12px;
  font-family: "Noto Sans";
}

/* -----0o00-0oo0*.o0--EVENTS-STYLES--Oo.o*0o*----- */
  
#event-h1 {
  font-size: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  font-family: "Noto Sans";
  font-weight: 700;
}

.event {
  width: 90%;
  max-width: 550px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.event-img {
  width: 45%;
  height: auto;
  background-color: #d9d9d9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-img-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.event-text{ 
  width: 55%;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-p {
  font-family: "Noto Sans";
  font-size: 12px;
  width: 90%;
}

/* -----0o00-0oo0*.o0--CONTACT-STYLES--Oo.o*0o*----- */
#contact {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-text {
  width: 80%;
  text-align: center;
}

#contact-h1 {
  font-family: "Shrikhand";
  font-size: 64px;
  color: var(--green);
}

@media screen and (min-width: 600px) {
  
}