@font-face {
    font-family: 'Rainball';
    src: url('fonts/Rainball.ttf') format('truetype');
}

:root {
  --bg: #fef0db;
  --black: #0a0903;
  --green:#157f1f ;
}

/* -----0o00-0oo0*.o0--BODY-STYLES--Oo.o*0o*----- */
body {
    background-color: var(--bg);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  * {
    margin: 0px;
  }

/* -----0o00-0oo0*.o0--HERO-STYLES--Oo.o*0o*----- */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  }
  
.hero-img {
  width: 90%;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 30px;
}
  
#hero-image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.hero-p {
  width: 90%;
  margin-top: 8px;
  font-family: "Noto Sans";
  font-size: 12px;
}

  /* -----0o00-0oo0*.o0--VOLUNTEER-STYLES--Oo.o*0o*----- */
#volunteer {
  margin-top: 35px;
  font-family: "Noto Sans";
  position: relative;
  z-index: 1;
}
  
#volunteer-h1{
  font-size: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#volunteer-text {
  font-size: 12px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#sign-up {
  border: none;
  background-color: var(--green);
  width: 100px;
  height: 35px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-top: 35px;
  margin-left: 5%;
  margin-bottom: 35px;
}

#sign-up.hidden {
    display: none;
}


 /* -----0o00-0oo0*.o0--SIGNUP-FORM-STYLES--Oo.o*0o*----- */
#sign-up-form {
  display: none;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  transition: 0.1s;
  font-family: "Noto Sans";
}

#expand-less {
  border: none;
  background-color: transparent;
}

#sign-up-form.opened {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s;
}

.form-label {
  width: 90%;
  margin-bottom: 7px;
}

.form-input {
  width: 90%;
  height: 35px;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 8px;
  background-color: #d9d9d950;
}

#submit {
  background-color: var(--green);
  width: 100px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: 5%;
}

.required {
  color: red;
}

.form-submitted {
  color: green;
  font-weight: bold;
}
